html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: 'Comfortaa', sans-serif;
}
body, main{
    margin: 0;
    padding: 0;
    width: 100%;
    user-select: none;
}
*, *:before, *:after{
    box-sizing: inherit;
}
/* header */
header{
    display: flex;
    width: 100%;
    align-items: center;
    height: 50px;
    margin: 0;
    box-shadow: 10px 0 10px rgba(204, 199, 199, 0.65);
    position: fixed;
    background-color: rgba(255, 255, 255,0.7);
    z-index: 2;
}
.logo{
    flex-basis: 80px;
    margin: 0 5px;
}
.logo img{
    max-width: 100%;
    height: auto;
    animation: swim 5s linear infinite;
}
.logo img:hover{
    animation-play-state: paused;
}
@keyframes swim{
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    20%{
        opacity: 0.7;
        transform: translateX(-50%)
    }
    40% {
        opacity: 0;
        transform: translateX(-100%);
    }
    60%{
        opacity: 0;
        transform: translateX(100%)
    }
    80%{
        opacity: 0.7;
        transform: translateX(50%)
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
header h1{
    font-size: 3vh;
    flex:auto;
    text-align: center;
}
header p{
    font-size: 2vh;
}
.nav-toggle{
    background: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
}
.nav-open .hamburger{
    transform: rotate(.63turn);
}
.nav-open .hamburger::before{
    transform: rotate(90deg) translateX(-8px);
}
.nav-open .hamburger::after{
    opacity: 0;
}
.hamburger{
    display: block;
    position: relative;
}
.hamburger, .hamburger::before, .hamburger::after{
    background: black;
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}
.hamburger::before, .hamburger::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}
.hamburger::before{
    top: 8px;
}
.hamburger::after{
    bottom: 8px;
}
.socialmedia{
    position: absolute;
    right: 0;
    top: 50px;
    background-color: rgba(255, 255, 255,0.7);
    grid-template-columns: 1fr;
    padding: 10px;
    gap: 10px 8px;
    border-radius: 0 0 1rem 1rem;
    display: none;
}
.socialmedia.active{
    display: grid;
    opacity: 0;
    animation: slidedown 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}
@keyframes slidedown {
    from {
        opacity: 0;
        transform:translateY(-50%);
    }
    to {
        display: grid;
        opacity: 1;
        transform:translateY(0);
        ;
    }
}

/* hero */
.hero{
    padding-top: 50px;
    overflow: hidden;
}
.hero-bg{
    background-image: url('https://images.pexels.com/photos/34088/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(0.5);
    animation: kenburn 10s linear infinite alternate;
}
@keyframes kenburn{
    from{transform: scale(1);}
    to{transform:scale(1.1) rotate(0.2deg);}
}
.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -47%);
    z-index: 1;
    color: white;
    width: 80%;
}
.hero-text h2{
    font-size: 8vh;
    opacity: 0;
    animation: fadein 1s ease-in-out 0.5s forwards;
}
.hero-text h3{
    opacity: 0;
    animation: fadein 1s ease-in-out 1s forwards;
}
@keyframes fadein {
    from{
        opacity: 0;
        transform: translateY(10px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.services ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 2vh;
    list-style: none;
    align-items: flex-start;
    color: rgba(247, 145, 11, 0.842);
}
.services ul li{
    background-color: rgba(255, 255, 255,0.9);
    padding: 20px;
    border-radius: 2rem;
    margin: 10px;
    opacity: 0;
    animation: fadein 1s ease-in-out 1.5s forwards;
}
.arrowdown{
    transform:rotate(90deg);
    position: absolute;
    right: 10px;
    bottom:5%;
    text-decoration: none;
    color: white;
    font-size: 2rem;
}
.arrowdown:hover{
    transform:scale(1.5) rotate(90deg);
}

/* projects */
.projects{
    background-image: url('https://images.pexels.com/photos/2501965/pexels-photo-2501965.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 50px;
}
.projects iframe{
    width: 100%;
    height: calc(100vw/1.77);
}
.projects img{
    width: 80%;
    box-shadow: 0 0 10px rgba(204, 199, 199, 0.65);
}
.projects div{
    margin: 20px auto;
    padding: 25px;
}

/* tookit */
.toolkit{
    position: relative;
    height: fit-content;
}
.toolkit ul{
    font-size: 3vh;
}
.toolkit-bg{
    background-image: url('https://images.pexels.com/photos/574073/pexels-photo-574073.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(0.5);
}
.toolkit-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    width: 80%;
}

/* latest */
.latest{
    padding: 50px;
}
.current{
    display: grid;
    grid-template-areas: 
    "title img"
    "client img";
    margin: 50px 0;
    align-items: center;
    padding: 30px 0 0 30px;
    border-top: 1px solid black;
    gap: 10px;
}
.current h3{
    grid-area: title;
}
.recentwork{
    grid-area: img;
    width: 80%;
    justify-self: end;
    box-shadow: 0 0 10px rgba(204, 199, 199, 0.65);
    border-radius: 1rem;
}
.client{
    display: flex;
    align-items: center;
    padding-left:30px;
}
.clientlogo{
    grid-area: client;
    background-color: white;
    max-width: 50%;
    max-height:10vh;
    margin: 10px;
}

/* mini-projects */
.miniprojects{
    background-image: url('https://images.pexels.com/photos/1705254/pexels-photo-1705254.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 50px 50px 100px 50px;
}
.miniprojects div{
    overflow-x: scroll;
    height: fit-content;
    display: flex;
    margin: 30px auto;
}
.miniprojects div > * {
    margin: 10px;
}
.miniprojects a{
    float: right;
    background-color: rgba(255, 255, 255,0.7);
    padding: 20px;
    text-decoration: none;
    color: rgba(247, 145, 11, 0.842);
    border-radius: 2rem;
    margin: 0;
}

/* footer */
footer{
    text-align: center;
    font-size: 0.5rem;
    border-top: 1px solid rgba(204, 199, 199, 0.65);
}

@media (max-width:650px){
    .current{
        display: grid;
        grid-template-areas: 
        "title"
        "client"
        "img";
    }
}