
    body {
        font-family: sans-serif;
        background-image: url("https://great-learning.s3.ap-south-1.amazonaws.com/week-2/images/bg-rain-drops-on-window-shield.jpg");
        overflow-x: auto;
        background-size:cover;
        background-attachment: fixed;
    }
    .col-container {
        display: flex;
        flex-basis: 100%;
        flex-wrap: nowrap;
        width: 1264px;

        margin-top: 20px;
        padding: 84px 10px 10px;

    }
    .col {
        color: #555;
        max-height: 100%;
        flex-basis: 220px;
        flex-shrink: 0;
        background-color: rgba( 240, 240, 240, 0.9 );
        border-radius: 2mm;
        margin:5px;
        padding:10px 10px 5px 10px;
        align-self: flex-start;
    }
    .list-title {
        display:flex;
        justify-content: space-between;
    }
    .title {
        font-weight: bold;
        align-items: flex-start;
        margin: 5px 0;
    }
    li {
        list-style: none;
        background-color: whitesmoke;
        padding:10px;
        margin: 10px 0px;
        border-radius: 4px;
        cursor: pointer;
    }
    li:hover{
        opacity: 0.7;
    }
    #more-btn-3{
        align-items: flex-end;
        cursor: pointer;
        font-family: Verdana;
        color: rgb(90, 90, 90);
        font-size: 13px;
        font-weight: 700;
        margin:0 4px;
        padding-top: 3px;
    }
    .plus {
        margin-top: 1px;
        margin-left: 5px;
        margin-bottom:5px;
        cursor: pointer;
        padding-top:0px;
    }

    .plus-color{
        margin:10px 0;
    }

    .plus-button{
        border-radius: 4px;
        border-style: none;
        margin-right: 8px;
        background-color: olive;
        color: white;
        padding:8px;
        font-size: 1.2em;
        text-align: center;
    }

    .cross{
        font-size: 2em;
        position: relative;
        top:3px;
        cursor: pointer;
    }
    textarea{
        border-radius: 4px;
        width:90%;
        padding:10px;
        border: 1px solid lightgrey;
        font-size: 1em;
        resize:none;
    }

    .pencil-todo{
        float: right;
        opacity: 0;

    }
    li:hover .pencil-todo {

        opacity: 0.7;
    }
    .section-header{
        position: fixed;
        top:50px;
        right:0px;
        left:0px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        padding:0 20px;
        background-color: rgba(128,128,128,0.3);
        color: white;
    }

    .section-action:hover{
        opacity: 0.7;
        cursor: pointer;
    }

    .navbar{
        position: fixed;
        top:0px;
        left:0px;
        right:0px;
        display: flex;
        justify-content: space-between;
        height: 34px;
        padding: 8px 20px;
        background-color: rgba(64,144,172,0.65);
        color:white;
    }
    nav ul{
        width: 300px;
        display:flex;
        list-style: none;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
        margin-left: 0;
        padding-left: 0;
    }
    nav ul li{
        display: inline-block;
        margin: 0px 4px;
        padding:8px;
        border-radius: 2px;
        background-color: rgba(64,144,172,1);

    }
    nav ul li:hover{
        cursor: pointer;
        opacity: 0.7;
    }
    .menu-input{
        padding:0px;
    }
    input{
        width:120px;
        background-color: transparent;
        border-radius: 2px;
        border-style: none;
        padding:3px 5px;
        margin: none;
        outline: none;
        line-height: 1.5;
        font-size: 1.17em;
    }
    input:focus{
        background-color: white;
    }

    .app-title{
        justify-content: space-around;
        font-family: "Comic Sans", "Comic Sans MS", cursive;
        font-size: 1.3em;
        padding-left: 0;
        margin-left: 0;

    }
    .conenct{
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: center;

    }

    nav div span{
        cursor: pointer;
        display: inline-block;
        padding:8px;
        border-radius: 2px;
        background-color: rgba(64,144,172,1);
        margin: 0px 4px;
    }
    section{
        display: flex;
        height:100vh;
        overflow-y: hidden;
    }


    @media screen and (max-width: 600px) {
            .col {
                width: 100%;
            }
        }

